
body {
  background-color: rgb(99, 206, 152);
}

.title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: xx-large;

}

.inputData {
  margin: 5px;
  padding: 5px;
  height: 150px;
  width: 250px;
  justify-content: center;
  display: grid;
  background-color: rgba(52, 226, 75, 0.74);
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 25px 250px rgb(255, 0, 0);

}

.SubmitPage {
  
  display: flex;
  align-items: center;
  flex-direction: column;
  
  
}

.submit{
    font-weight: bold;
    width: 60px;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    box-shadow: 0px 0px 12px rgb(65, 33, 248);
   

}
.submit:hover{
    background-color: rgba(52, 226, 75, 0.74);
}

.inputData:hover{
    background-color: rgb(167, 238, 238);
    
}

.name{
    font-weight: bold;
}

.GeneratedPage{
    margin: 8px;
    padding: 8px;
}

.floors{
    height: 119px;
}
.buttons{
    display:grid;
   
    margin: 4px;
    height: 20px;
    border-radius:5px ;
   
   
}
.buttons :hover{
     background-color: rgb(238, 54, 54);
}
.up{
    font-weight: bold;
     cursor: pointer;

}
.down{
    font-weight: bold;
    cursor: pointer;
}
input{
    border-radius: 10px;
}
 
.doors{
     
    background-color: rgb(248, 244, 244);
    width: 80px;
    height: 100px;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}

.floorNumber{
    display: flex;
    height: 100px;
}

.lifts{
   
    width: 100px;
}

.liftSection{
    display:flex;
   
}

.leftDoor{
    background-color:gray;
    width: 40px;
    height: 98px;
    border-radius: 5px;
    border: 1px solid red;
   
    /* transition: width 2s ease-out ; */
    
}

.rightDoor{
    background-color: gray;
    width: 40px;
    height: 98px;
    border-radius: 5px;
    border: 1px solid red;
     
    
     
    
}


.alertMsg{
    margin: 70px;
    height: 45px;
    font-size: xx-large;
    color: rgba(255, 0, 0, 0.911);
    font-weight: bold;
    text-decoration: underline  ;
    /* background-color: rgba(209, 197, 33, 0.842); */
    border-radius: 12px;
    /* box-shadow: 9px 9px 9px rgb(241, 59, 14); */
    box-shadow: 0px 1px 20px rgb(63, 34, 228);

}

.-VEalertMsg{
    margin: 10px;
    height: 40px;
    font-size: xx-large;
    color: rgba(255, 0, 0, 0.911);
    font-weight: bold;
    text-decoration: underline  ;
    /* background-color: rgba(209, 197, 33, 0.842); */
    border-radius: 12px;
    box-shadow:  0px 1px 20px rgb(241, 59, 14);
    /* box-shadow: 0px 1px 20px rgb(63, 34, 228); */
}

@media (width <= 360px) {
    body{
        height:60px;
    }
    body{
        font-size: 10px;
    }

    .GeneratedPage{
        font-size: 8px;
        padding: 2px;
    }
 
}